body {
  margin: 0;
  text-align: center;
  font-family: serif;
  color: #40514e
}

p {
  font-size: 1rem;
  font-family: sans-serif;
  color: #222;
}

hr {
  border-style: none;
  border-top: dotted;
  border-width: 5px;
  width: 20%;
  margin: 50px auto 50px auto;
  color: #Eaf6f6;
}

h1 {
  width: 30%;
  margin: auto;
  margin-top: 20px;
  font-family: 'Marck Script', cursive;
  font-size: 90px;
  color: #66BFBf;
}

h2 {
  font-size: 2.4rem;
  color: #66BFBF;
}

h3 {
  font-size: 2rem;
}

span {
  text-decoration: underline;
}

.cursive {
  font-family: 'Marck Script', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: 80px;
}

.top-container {
  background-color: #6f9eaf;
  position: relative;
}

.middle-container {}

.bottom-container {}

.skill-row {
  margin: 20px auto auto auto;
  line-height: 1.5;
  width: 60%;
  text-align: left;
  display: inline-block;
}

.cloud {
  position: relative;
  left: 150px;
}

.bottom-cloud {
  position: relative;
  right: 150px;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: -webkit-gradient(to bottom, #66BFBF, #11999E);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  color: #FFFFFF;
  font-family: Brush Script MT;
  font-size: 1rem;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 8px 0 #000000;
  -moz-box-shadow: 1px 1px 8px 0 #000000;
  box-shadow: 1px 1px 8px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 30px auto 30px auto;
}

.mountan {
  position: relative;
  margin-bottom: 20px;
}

.photo {
  width: 120px;
  margin-top: 50px;
  border-radius: 50%;
}

.tipi {
  width: 120px;
  float: left;
  margin: 50px 30px 50px auto;
}

.sign {
  color: #Eaf6f6;
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hammer {
  width: 120px;
  float: right;
  margin: 50px auto 50px auto;
}

.hammerhead {
  color: #11999e;
}

.footer-link {
  color: #337FED;
  font-family: 'Marck Script', cursive;
  text-decoration: none;
  color: #11999E;
  font-size: 1.5rem;
  margin: auto 30px 30px auto;
}

.footer-link:hover {
  color: white;
}

.bottom-container {
  padding-top: 15px;
  background-color: #66bfbf;
}
